branches:
 only:
  - master
  - main

os: linux
dist: focal
language: python
python: "3.8"
matrix:
  include:
    - arch: arm64-graviton2
      virt: vm
      group: edge
    - arch: ppc64le
    - arch: s390x

install:
  - python -m pip install cibuildwheel==2.0.0a4
  - python -m pip install -r requirements-deploy.txt

script:
  - |
    cibuildwheel --output-dir dist
    ls dist
    twine --version
    twine check --strict dist/*
