include CMakeLists.txt
include CMakeUrls.cmake
include requirements-test.txt
include HISTORY.rst
include README.rst
include LICENSE_Apache_20
include LICENSE_BSD_3

recursive-exclude _skbuild *
recursive-exclude CMake-src *

include versioneer.py
include src/cmake/_version.py
