codecov>=2.0.5
coverage>=4.2
flake8>=3.0.4
path.py>=11.5.0
pytest>=3.0.3
pytest-cov>=2.4.0
pytest-runner>=2.9
pytest-virtualenv>=1.2.5
scikit-build>=0.10.0
setuptools>=28.0.0
twine
virtualenv>=15.0.3
wheel
wheeltools

# need to pin cryptography for manylinux1 builds
# cryptography only provides manylinux2010 wheels since 3.4.0
# because of the lack of a decent rust compiler on manylinux1
cryptography~=3.3.2 ; sys_platform=="linux" and platform_machine in "i386, i486, i586, i686, x86_64"
